:root {
  --main-color: black;
  --second-color: #FF8E06;
  --thirst-color: white;
}


@font-face {
    font-family: 'ThatNogoFontCasual';
    src: url('fonts/ThatNogoFontCasual.ttf') format('truetype');
}

@font-face {
    font-family: '3Dumb';
    src: url('fonts/3Dumb.ttf') format('truetype');
}		 

@font-face {
    font-family: '2Dumb';
    src: url('fonts/2Dumb.ttf') format('truetype');
}	

 
body {
	background-color: var(--main-color);
	color : var(--thirst-color);
	text-align : center;
	width: 60%;
	margin: auto;
}

section {
	margin-top: 5%;
}

h1 {
	font-family: '3Dumb';
	width: 900px;
	margin: 5% auto;
	font-size: 50px;
	background-color: var(--second-color);
	border-radius: 50px;
	padding: 2%;
	text-transform: uppercase;
}
/* -----===== XXX ======----- */

#choixNombre {
	color: var(--thirst-color);
}

#choisirNombre {
	font-size: 20px;
}

input {
	cursor: pointer;
	background-color: var(--second-color);
	border: 2px solid grey;
	/*transition: background-color 500ms ease-in-out;*/
}
	input:checked {
		box-shadow: 0 0 0 3px var(--second-color);
	}
	/*input:focus {
			background-color: purple;
		}*/

label {
	margin-right: 10px;
	transition: color 500ms ease-in-out;
}

	input:checked + label {
		color: var(--second-color);
	}



/* -----===== XXX ======----- */

#choixStyle {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

button {
	background-color: var(--thirst-color);
	border-radius: 50px;
	width: 120px;
	height: 120px;
	box-shadow: none;
	border: none;
	cursor: pointer;
	transform: scale(1);
    transition: transform 500ms ease-in-out,
				background-color 500ms ease-in-out;
}

	button:hover {
		transform: scale(1.15);
		background-color: var(--second-color);
	}

	button:focus {
		background-color: var(--second-color);
	}
	
button img {
	width: 100px;
	height: 100px;
}

#styleHistoire {
	width: 200px;
	height: 100px;
}

/* -----===== XXX ======----- */

h2 {
	font-family: '3Dumb';
	color: var(--second-color);
}
#storiesArea {
	color: var(--main-color);
	margin: auto;
	padding: 2%;
	border: 5px solid var(--second-color);
	border-radius: 40px;
	background-color: white;
	min-height: 30px;
	height: auto;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
}

#bulle {
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background-color: var(--second-color);
	position: absolute;
	z-index: 10;
	animation: bounce 0.35s ease infinite alternate;
}

@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
}

